@charset "UTF-8";
/* Base - Mobile First */
.custom-navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  padding: 20px 0;
  background-color: #F0F4FF;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  /* ====== Laptop (≥1024px) ====== */
  /* ====== Desktop (≥1280px) ====== */
}
.custom-navbar.scrolled {
  padding: 5px 0;
}
.custom-navbar .nav-wrapper {
  max-width: 100%;
  margin: 0 auto;
  padding: 0 16px;
}
.custom-navbar .nav-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.custom-navbar .logo-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
  text-decoration: none;
}
.custom-navbar .logo-wrap img {
  height: 30px;
  width: 30px;
  -o-object-fit: contain;
     object-fit: contain;
}
.custom-navbar .logo-wrap span {
  color: #2265AB;
  font-size: 18px;
  font-weight: 800;
  white-space: nowrap;
  text-decoration: none;
}
.custom-navbar .menu-toggle {
  background: none;
  border: none;
  color: #2265AB;
  font-size: 20px;
  display: block;
}
.custom-navbar .nav-links {
  display: none;
}
.custom-navbar .nav-links ul {
  list-style: none;
  padding-left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20px;
  margin: 0%;
}
.custom-navbar .nav-links ul li a,
.custom-navbar .nav-links ul li span {
  color: #2265AB;
  text-decoration: none;
  font-weight: 800;
  font-size: 18px;
  cursor: pointer;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}
.custom-navbar .nav-links ul li a.active,
.custom-navbar .nav-links ul li span.active {
  color: #2265AB;
  border-bottom: 2px solid #2265AB;
}
.custom-navbar .nav-links ul li a:hover,
.custom-navbar .nav-links ul li span:hover {
  color: rgb(25.5414634146, 75.8731707317, 128.4585365854);
}
.custom-navbar .nav-links ul li.dropdown {
  position: relative;
}
.custom-navbar .nav-links ul li.dropdown .dropdown-content {
  position: absolute;
  top: 100%;
  left: 0;
  background: white;
  backdrop-filter: blur(10px);
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 10px;
  border-radius: 4px;
  z-index: 99;
}
.custom-navbar .nav-links ul li.dropdown .dropdown-content a {
  color: #2265AB;
  padding: 6px 10px;
  font-size: 14px;
}
.custom-navbar .nav-links ul li.dropdown .dropdown-content a:hover {
  color: #2265AB;
}
.custom-navbar .nav-links ul li.dropdown:hover .dropdown-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.custom-navbar .nav-links ul li.dropdown.open .dropdown-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.custom-navbar .nav-links ul li.cta a {
  border: 1px solid #e0a63b;
  color: #2265AB;
  padding: 15px 20px;
  border-radius: 4px;
  font-weight: 800;
}
.custom-navbar .nav-links ul li.cta a:hover {
  background-color: rgb(211, 158.25, 0);
  color: white;
}
.custom-navbar .nav-links.open {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  background-color: white;
  padding: 15px 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 10px;
}
.custom-navbar .nav-links.open ul {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
.custom-navbar .nav-links.open ul li {
  width: 100%;
}
@media (min-width: 768px) {
  .custom-navbar .nav-wrapper {
    padding: 0 20px;
  }
  .custom-navbar .menu-toggle {
    display: none;
  }
  .custom-navbar .nav-links ul li a,
  .custom-navbar .nav-links ul li span {
    font-size: 11px;
  }
  .custom-navbar .logo-wrap span {
    font-size: 11px;
  }
  .custom-navbar .nav-links {
    display: block;
  }
  .custom-navbar .nav-links.open {
    position: static;
    background: none;
    padding: 0;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .custom-navbar .nav-links.open ul {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .custom-navbar .cta {
    border: 1px solid #e0a63b;
    color: #2265AB;
    padding: 5px 8px;
    border-radius: 4px;
    font-weight: 800;
    font-size: 12px;
  }
  .custom-navbar .cta:hover {
    background-color: rgb(200.3171806167, 141.0396475771, 31.6828193833);
    color: #646262;
  }
}
@media (min-width: 1024px) {
  .custom-navbar .nav-wrapper {
    max-width: 1400px;
    padding: 0 40px;
  }
  .custom-navbar .logo-wrap span {
    font-size: 20px;
  }
  .custom-navbar .nav-links ul li a,
  .custom-navbar .nav-links ul li span {
    font-size: 17px;
  }
}
@media (min-width: 1280px) {
  .custom-navbar .nav-wrapper {
    max-width: 1400px;
    padding: 0;
  }
  .custom-navbar .logo-wrap span {
    font-size: 25px;
  }
  .custom-navbar .nav-links ul li a,
  .custom-navbar .nav-links ul li span {
    font-size: 18px;
  }
}

.hero-section {
  background-position: right;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 500px;
}
.hero-section .container {
  max-width: 1400px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 40px;
  padding: 80px 0px;
}
.hero-section .hero-left {
  max-width: 100%;
  text-align: center;
  padding: 80px 0px;
}
.hero-section .hero-left h1 {
  font-size: 3rem;
  line-height: 1.3;
  color: #f9f9f9;
}
.hero-section .hero-left .highlight {
  color: #e0a63b;
  font-weight: bold;
}
.hero-section .hero-left p {
  font-size: 1rem;
  line-height: 1.6;
  color: #f9f9f9;
}
.hero-section .hero-left .schedule-btn {
  padding: 12px 24px;
  background-color: #e0a63b;
  color: white;
  border: none;
  border-radius: 30px;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
  margin-top: 20px;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}
.hero-section .hero-left .schedule-btn:hover {
  background-color: rgb(255, 53.1538461538, 9);
}
.hero-section .hero-left .stats {
  margin-top: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 20px;
}
.hero-section .hero-left .stats .stat-box {
  background-color: #f0f4ff;
  border-radius: 12px;
  text-align: center;
  padding: 25px 0px;
  margin: 5px;
}
.hero-section .hero-left .stats .stat-box h3 {
  margin-bottom: 5px;
  font-size: 1.4rem;
  color: #1c1c1c;
  text-align: center;
  font-weight: 800;
}
.hero-section .hero-left .stats .stat-box p {
  color: #555;
  font-size: 0.9rem;
  text-align: center;
  margin: auto;
  font-weight: 800;
}

@media (min-width: 768px) {
  .hero-section {
    padding: 40px 40px;
  }
  .hero-section .container .hero-left h1 {
    font-size: 2.5rem;
  }
  .hero-section .container .hero-left .stats {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .hero-section .container .hero-left .stats .stat-box {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 45%;
            flex: 1 1 45%;
  }
}
@media (min-width: 1024px) {
  .hero-section {
    background-size: cover;
  }
  .hero-section .container {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .hero-section .container .hero-left {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 50%;
            flex: 1 1 50%;
    max-width: 100%;
    text-align: left;
  }
  .hero-section .container .hero-left h1 {
    font-size: 5rem;
  }
  .hero-section .container .hero-left h1 span {
    font-size: 5rem;
  }
  .hero-section .container .hero-left p {
    width: 50%;
  }
  .hero-section .container .hero-left .stats {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: right;
        -ms-flex-pack: right;
            justify-content: right;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .hero-section .container .hero-left .stats .stat-box {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 45%;
            flex: 1 1 45%;
    text-align: center;
  }
  .hero-section .container .hero-left .stats .stat-box p {
    text-align: center;
  }
}
@media (min-width: 1280px) {
  .hero-section {
    padding: 60px 60px;
  }
  .hero-section .hero-left h1 {
    font-size: 4rem;
  }
  .hero-section .hero-left p {
    font-size: 1.1rem;
  }
  .hero-section .hero-left .stats {
    gap: 25px;
  }
  .hero-section .hero-left .stats .stat-box h3 {
    font-size: 1.6rem;
  }
  .hero-section .hero-left .stats .stat-box p {
    font-size: 1rem;
  }
}
.our-services {
  width: 100%;
  max-width: 1400px;
  margin: 0 auto;
  padding-top: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  font-family: "Montserrat", sans-serif;
}
.our-services .our-services-title {
  text-align: center;
  padding-bottom: 30px;
  font-family: "Montserrat", sans-serif;
}
.our-services .our-services-title h2 {
  font-size: 1.9rem;
  font-weight: 600;
  font-family: "Montserrat", sans-serif;
  margin-bottom: 10px;
}
.our-services .our-services-title p {
  font-size: 1.2rem;
  max-width: 80%;
  margin: 0 auto;
  color: #666;
  font-family: "Montserrat", sans-serif;
}
.our-services .row {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 24px;
  width: 100%;
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
}
.our-services .our-ser-box {
  background: #fff;
  padding: 50px 20px;
  border-radius: 8px;
  font-family: "Montserrat", sans-serif;
  -webkit-box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
          box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  gap: 12px;
  -webkit-transition: -webkit-transform 0.3s ease;
  transition: -webkit-transform 0.3s ease;
  transition: transform 0.3s ease;
  transition: transform 0.3s ease, -webkit-transform 0.3s ease;
  text-align: center;
}
.our-services .our-ser-box:hover {
  -webkit-transform: translateY(-6px);
          transform: translateY(-6px);
}
.our-services .our-ser-box .our-ser-box-icon img {
  height: 50px;
  width: 50px;
  border-radius: 30%;
}
.our-services .our-ser-box .our-services-web-title a {
  color: #022d62;
  font-weight: 600;
  font-size: 1.1rem;
  font-family: "Montserrat", sans-serif;
  text-decoration: none;
}
.our-services .our-ser-box .our-services-web-title a:hover {
  color: #e0a63b;
}
.our-services .our-ser-box p {
  font-size: 0.95rem;
  font-family: "Montserrat", sans-serif;
  color: #444;
  margin: 0;
}

@media (min-width: 576px) {
  .our-services .row {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (min-width: 768px) {
  .our-services .our-services-title h2 {
    font-size: 2.4rem;
  }
  .our-services .our-services-title p {
    font-size: 1.2rem;
    width: 80%;
  }
  .our-services .row {
    grid-template-columns: repeat(2, 1fr);
  }
  .our-services .our-ser-box {
    padding: 30px 30px;
    gap: 16px;
  }
  .our-services .our-ser-box .our-services-web-title a {
    font-size: 1.2rem;
  }
  .our-services .our-ser-box p {
    font-size: 1rem;
  }
}
@media (min-width: 992px) {
  .our-services .row {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (min-width: 1200px) {
  .our-services {
    width: 1400px !important;
  }
  .our-services .row {
    grid-template-columns: repeat(5, 1fr);
    margin: 0% !important;
  }
  .our-services .our-services-title h2 {
    font-size: 2.8rem;
  }
  .our-services .our-services-title p {
    font-size: 1.2rem;
    max-width: 80%;
  }
  .our-services .our-ser-box {
    padding: 40px 15px;
    width: 253px;
    gap: 10px;
  }
  .our-services .our-ser-box p {
    font-size: 1.05rem;
  }
}
/* Base - Mobile First */
.why-us-wrapper {
  max-width: 1400px;
  margin: 0 auto;
  padding: 80px 20px 0;
  font-family: "Montserrat", sans-serif;
}

.why-us-title {
  text-align: center;
  padding-bottom: 30px;
}
.why-us-title h2 {
  font-size: 1.9rem;
  font-weight: 600;
  margin-bottom: 10px;
}
.why-us-title h3 {
  color: #FFC107;
  margin-bottom: 15px;
}
.why-us-title p {
  font-size: 1rem;
  color: #666666;
  max-width: 80%;
  margin: 0 auto;
  line-height: 1.5;
}

.why-us-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 20px;
  margin-bottom: 40px;
}
.why-us-row.reverse {
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
}

.why-us-text {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  background-color: #609cbd;
  border-radius: 20px;
  padding: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 200px; /* Minimum height for mobile */
}
.why-us-text .why-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 33%;
}
.why-us-text .why-box h3 {
  font-size: 1.4rem;
  font-weight: 600;
  padding-left: 10px;
  margin-bottom: 1%;
  color: #FFC107;
  padding-top: 10px;
}
.why-us-text .why-box p {
  font-size: 1rem;
  line-height: 1.5;
  color: white;
  padding-left: 10px;
  padding-bottom: 12px;
}

.why-us-img {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  min-height: 250px; /* Minimum height for mobile */
}
.why-us-img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 12px;
  max-height: 400px;
}

/* Breakpoints */
@media (min-width: 768px) {
  .why-us-row {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch; /* Make columns equal height */
    gap: 30px;
    margin-bottom: 60px;
  }
  .why-us-row.reverse {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
  }
  .why-us-text {
    min-height: 400px;
    padding: 5px;
  }
  .why-us-text .why-box h3 {
    font-size: 1.6rem;
  }
  .why-us-text .why-box p {
    font-size: 1.05rem;
  }
  .why-us-img {
    min-height: 350px;
  }
  .why-us-img img {
    max-height: 500px;
  }
  .why-us-title h2 {
    font-size: 2.4rem;
  }
  .why-us-title p {
    font-size: 1.1rem;
    padding-bottom: 0px;
  }
}
@media (min-width: 1024px) {
  .why-us-text .why-box h3 {
    font-size: 1.8rem;
  }
  .why-us-text .why-box p {
    font-size: 1.1rem;
    padding-bottom: 0px;
  }
  .why-us-img {
    min-height: 400px;
  }
}
@media (min-width: 1280px) {
  .why-us-wrapper {
    padding-top: 80px;
  }
  .why-us-title h2 {
    font-size: 2.8rem;
  }
  .why-us-title p {
    font-size: 1.2rem;
    max-width: 70%;
  }
  .why-us-text {
    min-height: 450px;
    padding: 5px;
  }
  .why-us-text .why-box h3 {
    font-size: 2rem;
  }
  .why-us-text .why-box p {
    font-size: 1.15rem;
    padding-bottom: 0px;
  }
  .why-us-img {
    min-height: 450px;
  }
  .why-us-img img {
    max-height: none;
  }
}
/* Base styles - Mobile First */
.avia-section {
  background-color: #e0a63b;
  padding: 30px 30px;
  margin-top: 80px;
  font-family: "Montserrat", sans-serif;
}

.container {
  width: 100%;
  max-width: 100%;
  margin: 0 auto;
  font-family: "Montserrat", sans-serif;
  padding: 0 10px;
}

/* Responsive container width */
@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}
@media (min-width: 1024px) {
  .container {
    max-width: 960px;
  }
}
@media (min-width: 1280px) {
  .container {
    max-width: 1200px;
  }
}
.section-heading h2 {
  font-size: 1.9rem;
  font-weight: 600;
  margin-bottom: 10px;
  font-family: "Montserrat", sans-serif;
  color: white;
  text-align: center;
}

@media (min-width: 768px) {
  .section-heading h2 {
    font-size: 2.4rem;
  }
}
@media (min-width: 1024px) {
  .section-heading h2 {
    font-size: 2.8rem;
  }
}
.sub-heading p {
  font-size: 1.2rem;
  color: white;
  text-align: center;
  margin: 0 auto;
  width: 80%;
}

@media (min-width: 768px) {
  .sub-heading p {
    font-size: 1.2rem;
    max-width: 80%;
  }
}
@media (min-width: 1024px) {
  .sub-heading p {
    max-width: 80%;
  }
}
.hr-invisible {
  height: 30px;
}

.avia-button-wrap {
  text-align: center;
  margin-top: 30px;
}

.avia-button {
  font-size: 1rem;
  border-radius: 8px;
  text-decoration: none;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

/* Black CTA Button Style */
.black-cta {
  background-color: black;
  color: white;
  padding: 8px 20px;
  font-weight: 600;
  border-radius: 10px;
  border: none;
  text-decoration: none;
  font-size: 1rem;
  display: inline-block;
}

.black-cta:hover {
  background-color: #222;
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

/* Optional spacing for button icon if needed */
.avia_button_icon {
  font-family: "Montserrat", sans-serif;
  font-size: 1.2rem;
  margin-left: 8px;
}

/* 🌐 Base styles - Mobile First */
.brands-section {
  padding: 2rem 1rem;
  background-color: #F0F4FF;
}

.container {
  width: 100%;
  max-width: 1400px;
  padding: 0 1rem;
  margin: 0 auto;
}

.brands-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.brands-logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 80px;
  padding: 0.5rem;
  background-color: #fff;
  border-radius: 8px;
  -webkit-box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
          box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.brands-logo img {
  width: 70%; /* Fixed width relative to container */
  height: 30px; /* Fixed height for all images */
  -o-object-fit: contain;
     object-fit: contain;
  -o-object-position: center;
     object-position: center;
  margin: auto;
}

.logo-weichert img {
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
}

.brands-logo:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
  -webkit-box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
          box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

/* 📱 Small Tablets - min-width 480px */
@media (min-width: 480px) {
  .brands-container {
    grid-template-columns: repeat(3, 1fr);
  }
}
/* 📱 Tablets - min-width 768px */
@media (min-width: 768px) {
  .brands-container {
    grid-template-columns: repeat(4, 1fr);
    gap: 1.25rem;
  }
  .brands-logo img {
    height: 35px; /* Slightly larger for tablets */
  }
}
/* 💻 Laptops - min-width 1024px */
@media (min-width: 1024px) {
  .brands-container {
    grid-template-columns: repeat(5, 1fr);
  }
  .brands-logo img {
    height: 60px; /* Slightly larger for laptops */
  }
}
/* 🖥️ Large Screens - min-width 1280px */
@media (min-width: 1280px) {
  .brands-container {
    grid-template-columns: repeat(6, 1fr);
    gap: 1.5rem;
  }
  .brands-logo img {
    height: 60px; /* Slightly larger for desktops */
  }
}
/* 🌐 Base (Mobile First) */
.dev-process-section {
  background-color: #F8F9FA;
  padding-top: 80px;
}

.container-this {
  max-width: 1400px;
  margin: auto;
  font-family: "Montserrat", sans-serif;
}

.heading-top {
  font-size: 1.8rem;
  color: #333;
  font-family: "Montserrat", sans-serif;
}

.sub-titles-text {
  font-size: 14px;
  margin-bottom: 30px;
  font-family: "Montserrat", sans-serif;
  color: #666;
}

.timeline {
  position: relative;
  padding: 20px 0;
  font-family: "Montserrat", sans-serif;
}

.timeline::before {
  content: "";
  position: absolute;
  top: 0;
  left: 20px;
  width: 4px;
  height: 100%;
  background: #F07F39;
  z-index: 1;
}

.timeline-box {
  width: 100%;
  padding: 10px 30px;
  padding-left: 50px;
  position: relative;
  z-index: 2;
  opacity: 0;
  -webkit-transform: translateY(50px);
          transform: translateY(50px);
  font-family: "Montserrat", sans-serif;
  -webkit-transition: all 0.6s ease;
  transition: all 0.6s ease;
  text-align: left;
}

.timeline-box.in-view {
  opacity: 1;
  -webkit-transform: translateY(0);
          transform: translateY(0);
  font-family: "Montserrat", sans-serif;
}

.timeline-card {
  background: #fff;
  padding: 20px;
  border-radius: 10px;
  position: relative;
  font-family: "Montserrat", sans-serif;
}

.timeline-icon {
  font-size: 24px;
  margin-bottom: 12px;
}

.contact-btn {
  color: white;
  background-color: #e0a63b;
  font-weight: 500;
  border-radius: 20px;
  padding: 6px 18px;
  font-size: 12px;
  display: inline-block;
  margin-top: 10px;
}

/* 📱 Tablet - min-width: 768px */
@media (min-width: 768px) {
  .heading-top {
    font-size: 2.4rem;
  }
  .sub-titles-text {
    font-size: 15px;
  }
  .timeline::before {
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
  .timeline-box {
    width: 50%;
    padding-left: 5px;
  }
  .timeline-box.left {
    left: 0;
    text-align: right;
    padding-right: 40px;
  }
  .timeline-box.right {
    left: 50%;
    text-align: left;
  }
}
/* 💻 Laptop - min-width: 1024px */
@media (min-width: 1024px) {
  .heading-top {
    font-size: 2.8rem;
  }
  .sub-titles-text {
    font-size: 16px;
  }
  .timeline-box {
    padding: 5px 30px;
  }
  .timeline-card {
    padding: 25px;
  }
  .timeline-icon {
    font-size: 26px;
  }
}
/* 🖥️ Large Screens - min-width: 1280px */
@media (min-width: 1280px) {
  .container {
    margin: 0 auto;
  }
  .heading-top {
    font-size: 2.8rem;
  }
  .timeline-box {
    padding: 5px 40px;
  }
  .timeline-icon {
    font-size: 28px;
  }
  .contact-btn {
    font-size: 13px;
    padding: 8px 22px;
  }
}
.portfolio-container {
  min-height: 100vh;
  max-width: 1400px;
  margin: auto;
  padding: 1rem 0;
}
.portfolio-container .portfolio-header {
  margin-bottom: 3rem;
  position: relative;
}
.portfolio-container .portfolio-header .swiper-container-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  width: 100%;
}
.portfolio-container .portfolio-header .swiper-container-wrapper .swiper-nav-button {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  background-color: #f3f4f6;
  color: #6b7280;
  -webkit-box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
          box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
  border: none;
  outline: none;
  opacity: 0.9;
  z-index: 10;
  position: relative;
}
.portfolio-container .portfolio-header .swiper-container-wrapper .swiper-nav-button.hidden {
  display: none;
}
.portfolio-container .portfolio-header .swiper-container-wrapper .swiper-nav-button.prev {
  margin-right: 1rem;
}
.portfolio-container .portfolio-header .swiper-container-wrapper .swiper-nav-button.next {
  margin-left: 1rem;
}
.portfolio-container .portfolio-header .swiper-container-wrapper .swiper-wrapper-container {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  overflow: hidden;
}
.portfolio-container .portfolio-header .swiper-container-wrapper .swiper-wrapper-container .portfolio-swiper {
  width: 100%;
  padding: 2rem 0;
  background-color: transparent;
}
.portfolio-container .portfolio-header .swiper-container-wrapper .swiper-wrapper-container .portfolio-swiper .swiper-slide-item .swiper-slide-item {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  max-width: 400px;
  margin: 0 0px;
}
.portfolio-container .portfolio-header .swiper-container-wrapper .swiper-wrapper-container .portfolio-swiper .swiper-slide-item .service-tab {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.5rem;
  padding: 1rem;
  border-radius: 1rem;
  width: 100%;
  background-color: #f5f5f5;
  color: #666;
  -webkit-box-shadow: 0 2px 8px rgba(0, 0, 0, 0.08);
          box-shadow: 0 2px 8px rgba(0, 0, 0, 0.08);
  border: 1px solid transparent;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  cursor: pointer;
}
.portfolio-container .portfolio-header .swiper-container-wrapper .swiper-wrapper-container .portfolio-swiper .swiper-slide-item .service-tab.active {
  background-color: #E0A63B;
  color: white;
  -webkit-box-shadow: 0 4px 20px rgba(0, 0, 0, 0.15);
          box-shadow: 0 4px 20px rgba(0, 0, 0, 0.15);
  -webkit-transform: translateY(-2px);
          transform: translateY(-2px);
}
.portfolio-container .portfolio-header .swiper-container-wrapper .swiper-wrapper-container .portfolio-swiper .swiper-slide-item .service-tab .service-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 50%;
  margin-bottom: 0.5rem;
  width: 60px;
  height: 60px;
  font-size: 1.5rem;
  background-color: rgba(0, 0, 0, 0.05);
  color: inherit;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.portfolio-container .portfolio-header .swiper-container-wrapper .swiper-wrapper-container .portfolio-swiper .swiper-slide-item .service-tab .service-icon.active {
  background-color: rgba(255, 255, 255, 0.2);
  color: white;
}
.portfolio-container .portfolio-header .swiper-container-wrapper .swiper-wrapper-container .portfolio-swiper .swiper-slide-item .service-tab .service-label {
  text-align: center;
  font-weight: 500;
  font-size: 1rem;
}
.portfolio-container .service-content {
  border-radius: 1rem;
  padding: 40px 0;
}
.portfolio-container .service-content .service-intro {
  text-align: center;
  margin-bottom: 3rem;
  max-width: 54rem;
  margin-left: auto;
  margin-right: auto;
}
.portfolio-container .service-content .service-intro h2 {
  margin-bottom: 1rem;
  font-size: 2.1rem;
}
.portfolio-container .service-content .service-intro p {
  color: #6b7280;
  font-size: 1.125rem;
}
.portfolio-container .service-content .timeline-container {
  width: 100%;
}
.portfolio-container .service-content .timeline-container .timeline-content {
  max-width: 1400px;
  margin: 0 auto;
  padding: 0 0.75rem;
  width: 100%;
}
.portfolio-container .service-content .timeline-container .timeline-content .timeline-item {
  width: 100%;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.portfolio-container .service-content .timeline-container .timeline-content .timeline-item.left {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}
.portfolio-container .service-content .timeline-container .timeline-content .timeline-item.right {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
.portfolio-container .service-content .timeline-container .timeline-content .timeline-item .timeline-card {
  background-color: white;
  border: 1px solid #e5e7eb;
  border-radius: 1rem;
  margin: 5px;
  padding: 1rem;
  -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
          box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
  height: 100%;
  -webkit-transition: -webkit-box-shadow 0.3s;
  transition: -webkit-box-shadow 0.3s;
  transition: box-shadow 0.3s;
  transition: box-shadow 0.3s, -webkit-box-shadow 0.3s;
  width: 50%;
}
.portfolio-container .service-content .timeline-container .timeline-content .timeline-item .timeline-card:hover {
  -webkit-box-shadow: 0 12px 24px rgba(0, 0, 0, 0.1);
          box-shadow: 0 12px 24px rgba(0, 0, 0, 0.1);
}
.portfolio-container .service-content .timeline-container .timeline-content .timeline-item .timeline-card .desktop-layout {
  display: none;
  gap: 0.75rem;
}
.portfolio-container .service-content .timeline-container .timeline-content .timeline-item .timeline-card .desktop-layout .card-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 1rem;
  padding: 0.75rem;
  height: 60px;
  width: 60px;
  font-size: 1.5rem;
}
.portfolio-container .service-content .timeline-container .timeline-content .timeline-item .timeline-card .desktop-layout .card-content h4 {
  margin-bottom: 0.5rem;
}
.portfolio-container .service-content .timeline-container .timeline-content .timeline-item .timeline-card .desktop-layout .card-content p {
  color: #6b7280;
  margin-bottom: 0;
}
.portfolio-container .service-content .timeline-container .timeline-content .timeline-item .timeline-card .mobile-layout {
  display: block;
  text-align: center;
}
.portfolio-container .service-content .timeline-container .timeline-content .timeline-item .timeline-card .mobile-layout .card-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 1rem;
  padding: 0.75rem;
  height: 60px;
  width: 60px;
  font-size: 1.5rem;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0.75rem;
}
.portfolio-container .service-content .timeline-container .timeline-content .timeline-item .timeline-card .mobile-layout h5 {
  margin-bottom: 0.5rem;
}
.portfolio-container .service-content .timeline-container .timeline-content .timeline-item .timeline-card .mobile-layout p {
  color: #6b7280;
}

@media (min-width: 768px) {
  .portfolio-container .service-content .timeline-container .timeline-content .timeline-item {
    width: 100%;
    max-width: 1400px;
  }
  .portfolio-container .service-content .timeline-container .timeline-content .timeline-item .timeline-card {
    width: calc(50% - 1rem);
  }
  .portfolio-container .service-content .timeline-container .timeline-content .timeline-item .timeline-card .desktop-layout {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .portfolio-container .service-content .timeline-container .timeline-content .timeline-item .timeline-card .mobile-layout {
    display: none;
  }
}
@media (max-width: 767px) {
  .portfolio-container .service-content .timeline-container .timeline-content .timeline-item .timeline-card {
    width: 100%;
  }
}
.portfolio-section {
  background-color: #f8f9fa;
  padding: 2rem 0px;
  margin-top: 80px;
}
.portfolio-section .portfolio-container {
  width: 100%;
  max-width: 1400px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.portfolio-section .portfolio-container .portfolio-grid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 1rem;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.portfolio-section .portfolio-container .portfolio-grid .portfolio-item-wrapper {
  margin: 1rem;
  width: 100%;
}
.portfolio-section .portfolio-container .portfolio-grid .portfolio-item-wrapper .portfolio-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
  text-decoration: none;
  border-radius: 80px 10px 80px 0;
  border: 1.5px solid rgba(0, 0, 0, 0.1);
  overflow: hidden;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  background-color: white;
  -webkit-box-shadow: 0 4px 6px rgba(0, 0, 0, 0.05);
          box-shadow: 0 4px 6px rgba(0, 0, 0, 0.05);
}
.portfolio-section .portfolio-container .portfolio-grid .portfolio-item-wrapper .portfolio-item:hover {
  -webkit-transform: translateY(-5px);
          transform: translateY(-5px);
  -webkit-box-shadow: 0 8px 15px rgba(0, 0, 0, 0.1);
          box-shadow: 0 8px 15px rgba(0, 0, 0, 0.1);
}
.portfolio-section .portfolio-container .portfolio-grid .portfolio-item-wrapper .portfolio-item:hover .portfolio-image {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}
.portfolio-section .portfolio-container .portfolio-grid .portfolio-item-wrapper .portfolio-item .portfolio-image-container {
  overflow: hidden;
  height: 300px;
}
.portfolio-section .portfolio-container .portfolio-grid .portfolio-item-wrapper .portfolio-item .portfolio-image-container .portfolio-image {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-transition: -webkit-transform 0.3s ease;
  transition: -webkit-transform 0.3s ease;
  transition: transform 0.3s ease;
  transition: transform 0.3s ease, -webkit-transform 0.3s ease;
}
.portfolio-section .portfolio-container .portfolio-grid .portfolio-item-wrapper .portfolio-item .portfolio-content {
  padding: 1.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}
.portfolio-section .portfolio-container .portfolio-grid .portfolio-item-wrapper .portfolio-item .portfolio-content h3 {
  margin-bottom: 0.5rem;
  color: #212529;
  font-weight: 600;
  font-size: 1.25rem;
}
.portfolio-section .portfolio-container .portfolio-grid .portfolio-item-wrapper .portfolio-item .portfolio-content p {
  color: #6c757d;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin-bottom: 0;
  font-size: 0.9rem;
}
.portfolio-section .portfolio-container .portfolio-grid .portfolio-item-wrapper .portfolio-item .portfolio-content .view-project {
  margin-top: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #0d6efd;
  font-size: 0.9rem;
}
.portfolio-section .portfolio-container .portfolio-grid .portfolio-item-wrapper .portfolio-item .portfolio-content .view-project svg {
  margin-left: 0.5rem;
}

@media (min-width: 768px) {
  .portfolio-section .portfolio-container .portfolio-grid .portfolio-item-wrapper {
    width: calc(44% - 0.5rem);
    margin: 0px;
  }
  .portfolio-section .portfolio-container .portfolio-grid .portfolio-item-wrapper .portfolio-content {
    padding: 1rem;
  }
  .portfolio-section .portfolio-container .portfolio-grid .portfolio-item-wrapper .portfolio-content h3 {
    font-size: 1.1rem;
  }
}
@media (min-width: 1024px) {
  .portfolio-section {
    padding-bottom: 3rem;
  }
  .portfolio-section .portfolio-container .portfolio-grid {
    gap: 1.5rem;
  }
  .portfolio-section .portfolio-container .portfolio-grid .portfolio-item-wrapper {
    width: calc(50% - 0.75rem);
    margin: 0px;
  }
  .portfolio-section .portfolio-container .portfolio-grid .portfolio-item-wrapper .portfolio-content {
    padding: 1.75rem;
  }
  .portfolio-section .portfolio-container .portfolio-grid .portfolio-item-wrapper .portfolio-content h3 {
    font-size: 1.3rem;
  }
  .portfolio-section .portfolio-container .portfolio-grid .portfolio-item-wrapper .portfolio-content p {
    font-size: 1rem;
  }
}
@media (min-width: 1280px) {
  .portfolio-section .portfolio-container .portfolio-grid .portfolio-item-wrapper {
    width: calc(50% - 1.125rem);
    margin: 0px;
  }
  .portfolio-section .portfolio-container .portfolio-grid .portfolio-item-wrapper .portfolio-image-container {
    height: 350px;
  }
  .portfolio-section .portfolio-container .portfolio-grid .portfolio-item-wrapper .portfolio-content {
    padding: 2rem;
  }
  .portfolio-section .portfolio-container .portfolio-grid .portfolio-item-wrapper .portfolio-content h3 {
    font-size: 1.4rem;
  }
}
.blog-posts {
  background-color: #fafafa;
  padding: 5rem 0;
}
.blog-posts .sub-posts {
  width: 1400px !important;
  margin: auto;
}
.blog-posts .blog-posts-header {
  text-align: center;
  margin-bottom: 3rem;
  max-width: 1400px;
  margin-left: auto;
  margin-right: auto;
}
.blog-posts .blog-posts-header h2 {
  font-size: 2rem;
  margin-bottom: 1rem;
}
.blog-posts .blog-posts-header p {
  color: #636e72;
  font-size: 1.1rem;
}
.blog-posts .blog-grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 2rem;
  max-width: 1400px;
  margin: 0 auto;
}
.blog-posts .blog-card-wrapper {
  position: relative;
}
.blog-posts .blog-card-wrapper.featured .featured-badge {
  display: block;
}
.blog-posts .blog-card-wrapper .featured-badge {
  display: none;
  position: absolute;
  top: 1rem;
  right: 1rem;
  background-color: #ff6b6b;
  color: white;
  padding: 0.25rem 0.75rem;
  border-radius: 20px;
  font-size: 0.75rem;
  font-weight: 600;
  z-index: 2;
}
.blog-posts .blog-card-link {
  text-decoration: none;
  display: block;
  height: 100%;
}
.blog-posts .blog-card {
  background: white;
  border-radius: 24px;
  overflow: hidden;
  -webkit-box-shadow: 0 10px 30px -10px rgba(0, 0, 0, 0.05);
          box-shadow: 0 10px 30px -10px rgba(0, 0, 0, 0.05);
  border: 1px solid rgba(0, 0, 0, 0.03);
  height: 100%;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.blog-posts .blog-card .blog-card-image {
  position: relative;
  height: 220px;
  overflow: hidden;
}
.blog-posts .blog-card .blog-card-image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-top-left-radius: 24px;
  border-top-right-radius: 24px;
}
.blog-posts .blog-card .blog-card-image::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 60%;
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 0.7)), to(transparent));
  background: linear-gradient(to top, rgba(0, 0, 0, 0.7) 0%, transparent 100%);
}
.blog-posts .blog-card .blog-card-content {
  padding: 1.5rem;
  position: relative;
}
.blog-posts .blog-card .blog-card-content .blog-category {
  display: inline-block;
  background-color: #f1f3f5;
  color: #495057;
  padding: 0.25rem 0.75rem;
  border-radius: 20px;
  font-size: 0.75rem;
  font-weight: 600;
  margin-bottom: 0.75rem;
}
.blog-posts .blog-card .blog-card-content h3 {
  color: #2d3436;
  margin-bottom: 0.75rem;
  min-height: 60px;
  font-size: 1.25rem;
}
.blog-posts .blog-card .blog-card-content p {
  color: #636e72;
  font-size: 0.9375rem;
  margin-bottom: 2rem;
}
.blog-posts .blog-card .blog-card-content .read-more {
  position: absolute;
  bottom: 1.25rem;
  right: 1.25rem;
  width: 2.25rem;
  height: 2.25rem;
  border-radius: 50%;
  background-color: #f1f3f5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.blog-posts .blog-card:hover .read-more {
  background-color: #0d6efd;
  color: white;
}

@media (min-width: 768px) {
  .blog-hero {
    padding: 10rem 0;
  }
  .blog-hero .blog-hero-content h2 {
    font-size: 3rem;
  }
  .blog-posts .blog-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (min-width: 1024px) {
  .blog-posts .blog-grid {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (min-width: 1280px) {
  .blog-posts .blog-grid {
    gap: 2.5rem;
  }
}
body {
  font-family: "Montserrat", sans-serif !important;
  overflow-x: hidden;
}

.heading-top {
  font-size: 2.8rem;
  font-weight: 600;
  font-family: "Montserrat", sans-serif;
  margin-bottom: 10px;
}

.sub-titles-text {
  font-size: 1.5rem;
  max-width: 80%;
  margin: 0 auto;
  color: #666;
}

.case-heading {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  color: #333;
  font-size: 1.8rem; /* Mobile default */
}

.case-subtitle {
  font-family: "Montserrat", sans-serif;
  color: #666;
  font-size: 1rem;
  padding-bottom: 20px;
  width: 80%;
  text-align: center;
}

@media (min-width: 768px) {
  .case-heading {
    font-size: 2.2rem;
  }
  .case-subtitle {
    font-size: 1.1rem;
    padding-bottom: 30px;
  }
}
@media (min-width: 1024px) {
  .case-heading {
    font-size: 2.5rem;
  }
  .case-subtitle {
    font-size: 1.15rem;
    padding-bottom: 35px;
  }
}
@media (min-width: 1280px) {
  .case-heading {
    font-size: 2.8rem;
  }
  .case-subtitle {
    font-size: 1.2rem;
    padding-bottom: 40px;
  }
}
.row-new {
  margin: 0% !important;
  width: 100% !important;
}

@media (min-width: 768px) {
  .row {
    width: 100% !important;
    margin-left: 0px !important;
  }
}
.footer-cta {
  width: 80%;
  max-width: 80%;
  margin: 0 auto;
  border-radius: 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  padding: 2rem;
  background: #e0a63b;
  background-position: center;
  background-repeat: no-repeat;
}
@media (min-width: 768px) {
  .footer-cta {
    max-width: 80%;
    margin-top: -85px;
  }
}
@media (min-width: 1024px) {
  .footer-cta {
    max-width: 80%;
    margin-top: 10px;
  }
}
@media (max-width: 768px) {
  .footer-cta {
    max-width: 80%;
    margin-top: -90px;
  }
}
@media (max-width: 428px) {
  .footer-cta {
    max-width: 80%;
    margin-top: -100px;
  }
}

.yellow-cta-nav {
  border: 1px solid #e0a63b;
  color: #2265AB;
  padding: 12px 15px;
  border-radius: 4px;
  font-weight: 500;
  background-color: transparent;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.common-btn {
  color: white;
}

.yellow-cta-nav:hover {
  color: white;
  background-color: #e0a63b;
}

.cta {
  border: 1px solid #e0a63b;
  color: #2265AB;
  padding: 12px 15px;
  border-radius: 4px;
  font-weight: 500;
}
.cta:hover {
  background-color: rgb(200.3171806167, 141.0396475771, 31.6828193833);
  color: white;
}

.black-cta {
  padding: 12px 15px;
  border-radius: 4px;
  font-weight: 500;
  color: white;
  background-color: black;
}
.black-cta:hover {
  background-color: white;
  color: black;
}

.section-hero {
  color: #fff;
  text-align: center;
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 0.4)), to(rgba(0, 0, 0, 0.4))), url("../images/header-bg.jpg");
  background: linear-gradient(to top, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("../images/header-bg.jpg");
  background-blend-mode: overlay;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.section-hero .hero-container {
  max-width: 1400px;
  margin: 0 auto;
  padding: 80px 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 20px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.section-hero .hero-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 16px;
  width: 100%;
}
.section-hero .hero-content h2 {
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.3;
  color: #e0a63b;
  padding-top: 50px;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
}
.section-hero .hero-content p {
  font-size: 1rem;
  color: rgba(255, 255, 255, 0.8);
  width: 80%;
  margin: 0 auto;
  line-height: 1.6;
  font-family: "Montserrat", sans-serif;
}
@media (min-width: 768px) {
  .section-hero {
    padding: 80px 30px;
  }
  .section-hero .hero-content h2 {
    font-size: 2.5rem;
  }
  .section-hero .hero-content p {
    font-size: 1.1rem;
  }
}
@media (min-width: 1024px) {
  .section-hero .hero-content h2 {
    font-size: 4.5rem;
  }
  .section-hero .hero-content p {
    font-size: 1.2rem;
    max-width: 700px;
  }
}
@media (min-width: 1280px) {
  .section-hero .hero-content h2 {
    font-size: 4rem;
  }
  .section-hero .hero-content p {
    font-size: 1.3rem;
    max-width: 800px;
  }
}

.faq-section {
  background-color: #F0F4FF;
  color: #fff;
  font-family: "Montserrat", sans-serif;
  padding-top: 80px;
  padding-bottom: 0%;
}

.faq-container {
  max-width: 1400px;
  margin: 0 auto;
}

.faq-title {
  font-size: 26px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 30px;
  color: #333;
}

.faq-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 16px;
}

.faq-item {
  background-color: #fff;
  color: #000;
  border-radius: 8px;
  overflow: hidden;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.faq-item:hover {
  -webkit-box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
          box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
}

.faq-question {
  padding: 16px 20px;
  font-weight: 600;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 20px;
  background: #fff;
}

.faq-question span {
  font-size: 20px;
}

::-moz-selection {
  background-color: transparent;
  color: #e0902c;
}

::selection {
  background-color: transparent;
  color: #e0902c;
}

.faq-icon {
  font-size: 28px;
  font-weight: bold;
  color: #e0902c;
  border: 1px solid #e0902c;
  padding: 4px 13px;
  border-radius: 50%;
  margin: 0%;
}

.faq-answer {
  padding: 16px 20px;
  background-color: #f9f9f9;
  font-size: 12px;
  line-height: 1.6;
  color: #333;
}

.btn.view-all-faq {
  background-color: #e0902c;
  color: #fff;
  display: block;
  margin: 40px auto 0;
  padding: 12px 24px;
  border-radius: 6px;
  text-align: center;
  font-weight: 600;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  text-decoration: none;
  -webkit-transition: background 0.3s ease;
  transition: background 0.3s ease;
}

.btn.view-all-faq:hover {
  background-color: #c57820;
}

/* ===================
   Media Queries
=================== */
/* Tablet */
@media (min-width: 768px) {
  .faq-title {
    font-size: 30px;
  }
  .faq-question {
    font-size: 16px;
  }
  .faq-answer {
    font-size: 15px;
  }
}
/* Laptop */
@media (min-width: 1024px) {
  .faq-title {
    font-size: 32px;
  }
  .faq-question {
    font-size: 17px;
  }
  .faq-answer {
    font-size: 16px;
  }
}
/* Desktop XL */
@media (min-width: 1200px) {
  .faq-title {
    font-size: 36px;
  }
}/*# sourceMappingURL=style.css.map */