.our-services {
  width: 100%;
  max-width: 1400px;
  margin: 0 auto;
  padding-top: 80px;
  display: flex;
  flex-direction: column;
  align-items: stretch;
font-family: 'Montserrat', sans-serif;


  .our-services-title {
    text-align: center;
      padding-bottom: 30px;
font-family: 'Montserrat', sans-serif;

  

    h2 {
      font-size: 1.9rem;
      font-weight: 600;
font-family: 'Montserrat', sans-serif;

      margin-bottom: 10px;
    }

    p {
      font-size: 1.2rem;
      max-width: 80%;
      margin: 0 auto;
      color: #666;
font-family: 'Montserrat', sans-serif;

    }
  }

  .row {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 24px;
    width: 100%;
    margin: 0;
    padding: 0;
font-family: 'Montserrat', sans-serif;

  }

  .our-ser-box {
    background: #fff;
    padding: 50px 20px;
    border-radius: 8px;
font-family: 'Montserrat', sans-serif;

    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 12px;
    transition: transform 0.3s ease;
    text-align: center;

    &:hover {
      transform: translateY(-6px);
    }

    .our-ser-box-icon {
      img {
        height: 50px;
        width: 50px;
        border-radius: 30%;
      }
    }

    .our-services-web-title {
      a {
        color: #022d62;
        font-weight: 600;
        font-size: 1.1rem;
font-family: 'Montserrat', sans-serif;

        text-decoration: none;

        &:hover {
          color: #e0a63b;
        }
      }
    }

    p {
      font-size: 0.95rem;
font-family: 'Montserrat', sans-serif;

      color: #444;
      margin: 0;
    }
  }
}

// Responsive Breakpoints
@media (min-width: 576px) {
  .our-services {
    .row {
      grid-template-columns: repeat(2, 1fr);
    }
  }
}

@media (min-width: 768px) {
  .our-services {
    .our-services-title {
      h2 {
        font-size: 2.4rem;
      }
      p {
        font-size: 1.2rem;
        width: 80%;
      }
    }

    .row {
      grid-template-columns: repeat(2, 1fr);
    }

    .our-ser-box {
      padding: 30px 30px;
      gap: 16px;

      .our-services-web-title a {
        font-size: 1.2rem;
      }

      p {
        font-size: 1rem;
      }
    }
  }
}

@media (min-width: 992px) {
  .our-services {
    .row {
      grid-template-columns: repeat(3, 1fr);
    }
  }
}

@media (min-width: 1200px) {
  .our-services {
    width: 1400px !important;
    .row {
      grid-template-columns: repeat(5, 1fr);
      margin: 0% !important;
    }

    .our-services-title {
      h2 {
        font-size: 2.8rem;
      }
      p {
        font-size: 1.2rem;
        max-width: 80%;
      }
    }

    .our-ser-box {
      padding: 40px 15px;
      width: 253px;
      gap: 10px;

      p {
        font-size: 1.05rem;
      }
    }
  }
}